{
  "presets": [
    [
      "@babel/preset-env",
      {
        "corejs": 3,
        "useBuiltIns": "usage",
        "modules": "commonjs",
        "forceAllTransforms": true,
        "targets": {
          "browsers": "> 0.2%, last 2 versions, not dead"
        }
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
